# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Only include your code directory
Assets/*
!Assets/Prefabs/
!Assets/Prefabs/**
!Assets/Resources/
!Assets/Resources/**
!Assets/Scenes/
!Assets/Scenes/**
!Assets/Scripts/
!Assets/Scripts/**

# Other miscellaneous
*.csproj
*.sln
*.user
*.DS_Store
.vs/
